.hg
.hgignore
.project
.pydevproject
.settings
src/js/LdtPlayer.min.js
src/css/LdtPlayer-release.css
test/libs
test/metadataplayer
*.mp4
*.dokuwiki
doc/*.html
assets/player_bab_ldt/player_bab_ldt/bin
sbin/build/compil-to-platform.sh
*.webm
downloads/
downloads/*.zip
sbin/build/compil-to-polemic-tweet.sh
*.swp
*.orig
src/js/site.js
doc/jsdoc/*
test/
build/
