{{! template for the annotation widget }}
<div class='Ldt-AnnotationsWidget'>
  <!-- ugly div because we want to have a double border -->
  <div class='Ldt-Annotation-DoubleBorder'>
  
    <div class='Ldt-AnnotationContent'>  
      <div class='Ldt-AnnotationShareIcons'>
         <a target='_blank' class='Ldt-fbShare' href=''><img src='{{img_dir}}/facebook.png' alt='share on facebook'></img></a>
         <a target='_blank' class='Ldt-TwShare' href=''><img src='{{img_dir}}/twitter.png' alt='share on twitter'></img></a>
         <a target='_blank'  class='Ldt-GplusShare' href=''><img src='{{img_dir}}/google.png' alt='share on google+'></img></a>
      </div>

		  <div class='Ldt-SaTitle'></div>
	  	<div class='Ldt-SaDescription'></div>
    </div>

  </div>
</div>
