{{! template for the annotation widget }}
<div class='Ldt-AnnotationsWidget'>
  <!-- ugly div because we want to have a double border -->
  <div class='Ldt-Annotation-DoubleBorder'>
  
    <div class='Ldt-AnnotationContent'>  
      <div class='Ldt-AnnotationShareIcons'>
         <a target='_blank' class='Ldt-fbShare' title='share on facebook'></a>
         <a target='_blank' class='Ldt-TwShare' title='share on twitter'></a>
         <a target='_blank'  class='Ldt-GplusShare' title='share on google+'></a>
      </div>

		  <div class='Ldt-SaTitle'></div>
	  	<div class='Ldt-SaDescription'></div>
    </div>

  </div>
</div>
