{{! template for the annotation widget }}
<div class='Ldt-AnnotationsWidget'>
  <!-- ugly div because we want to have a double border -->
  <div class='Ldt-Annotation-DoubleBorder'>
  
    <div class='Ldt-AnnotationContent'>  
        <div class='Ldt-AnnotationShareIcons'>
         <a target='_blank' class='Ldt-fbShare Ldt-TraceMe' title='{{i10n.share_on}} Facebook'></a>
         <a target='_blank' class='Ldt-TwShare Ldt-TraceMe' title='{{i10n.share_on}} Twitter'></a>
         <a target='_blank'  class='Ldt-GplusShare Ldt-TraceMe' title='{{i10n.share_on}} Google+'></a>
        </div>

        <div class='Ldt-SaTitle'></div>
        <div class='Ldt-SaDescription'></div>
        <div class='Ldt-SaKeywords'></div>
    </div>

  </div>
</div>
