{{! template for the radio player }}
<div class='Ldt-controler demo'>
	<div class='Ldt-LeftPlayerControls'>
		<button class='ldt-CtrlPlay'>Lecture
			/ Pause</button>
		<button class='ldt-CtrlNext'>Suivant</button>
    <button class='ldt-CtrlSearch'>
			Rechercher
    </button>
	</div>	
	<div class='Ldt-RightPlayerControls'>
    <div class='ldt-ElapsedTime'>
      <span class='ElapsedTime'></span>
      /
      <span class='TotalTime'></span>
    </div>
		<button class='ldt-CtrlSound'>Sound</button>
	</div>
	<div class='cleaner'>&nbsp;</div>
</div>