{{! template for the radio player }}
<div class='Ldt-controler'>
	<div class='Ldt-LeftPlayerControls'>
        <div class='Ldt-Ctrl-button Ldt-CtrlPlay Ldt-CtrlPlay-PlayState Ldt-TraceMe' title='{{l10n.play_pause}}'></div>
        <div class='Ldt-Ctrl-spacer'></div>
        {{^disable_annotate_btn}}
    	<div class='Ldt-Ctrl-button Ldt-CtrlAnnotate Ldt-TraceMe' title='{{l10n.annotate}}'></div>
        <div class='Ldt-Ctrl-spacer'></div>
        {{/disable_annotate_btn}}
        {{^disable_search_btn}}
        <div class='Ldt-Ctrl-button Ldt-CtrlSearch Ldt-TraceMe' title='{{l10n.search}}'></div>
        <div class='Ldt-Ctrl-spacer'></div>
        {{/disable_search_btn}}
        <div class='LdtSearch'>
          <input class='LdtSearchInput Ldt-TraceMe'></input>
        </div>
	</div>
	<div class='Ldt-RightPlayerControls'>
        <div class='Ldt-Ctrl-spacer'></div>
        <div class='Ldt-Time'>
          <div class='Ldt-ElapsedTime' title='{{l10n.elapsed_time}}'>00:00</div>
          <div class='Ldt-TimeSeparator'>/</div>
          <div class='Ldt-TotalTime' title='{{l10n.total_time}}'>00:00</div>
        </div>
        <div class='Ldt-Ctrl-spacer'></div>
		<div class='Ldt-Ctrl-button Ldt-CtrlSound Ldt-CtrlSound-Full Ldt-TraceMe' title='{{l10n.mute_unmute}}'></div>
	</div>
	<div class='Ldt-Ctrl-Volume-Control' title='{{l10n.volume_control}}'>
	    <div class='Ldt-Ctrl-Volume-Bar'></div>
	</div>
</div>
