{{! template for the radio player }}
<div class='Ldt-controler'>
	<div class='Ldt-LeftPlayerControls'>
        <div class='Ldt-Ctrl-button Ldt-CtrlPlay Ldt-CtrlPlay-PlayState Ldt-TraceMe' title='Play/Pause'></div>
        <div class='Ldt-Ctrl-spacer'></div>
        {{^disable_annotate_btn}}
    	<div class='Ldt-Ctrl-button Ldt-CtrlAnnotate Ldt-TraceMe' title='Annotate'></div>
        <div class='Ldt-Ctrl-spacer'></div>
        {{/disable_annotate_btn}}
        {{^disable_search_btn}}
        <div class='Ldt-Ctrl-button Ldt-CtrlSearch Ldt-TraceMe' title='Search'></div>
        <div class='Ldt-Ctrl-spacer'></div>
        {{/disable_search_btn}}
        <div class='LdtSearch'>
          <input class='LdtSearchInput Ldt-TraceMe'></input>
        </div>
	</div>
	<div class='Ldt-RightPlayerControls'>
        <div class='Ldt-Ctrl-spacer'></div>
        <div class='Ldt-Time'>
          <div class='Ldt-ElapsedTime' title='Elapsed time'>00:00</div>
          <div class='Ldt-TimeSeparator'>/</div>
          <div class='Ldt-TotalTime' title='Total time'>00:00</div>
        </div>
        <div class='Ldt-Ctrl-spacer'></div>
		<div class='Ldt-Ctrl-button Ldt-CtrlSound Ldt-CtrlSound-MuteState Ldt-TraceMe' title='Mute/Unmute'></div>
	</div>
</div>
