<div id='Ldt-Root'>
	<div id='Ldt-PlaceHolder'>
		<a href='http://www.adobe.com/go/getflashplayer'>Get flash</a> to see
		this player
	</div>
	<div id='Ldt-controler' class='demo'>
		<div class='Ldt-Control1'>
			<button id='ldt-CtrlPlay' onclick='__IriSP.MyApiPlayer.play()'>Lecture
				/ Pause</button>
			<button id='ldt-CtrlNext' onclick='__IriSP.MyLdt.nextAnnotation()'>Suivant</button>
		</div>
		<div id='Ldt-Annotations' class='ui-slider'>
			<div id='slider-range-min'></div>
		</div>
		<div class='Ldt-Control2'>
			<button id='ldt-CtrlLink' onclick='__IriSP.searchblock()'>
				Rechercher</button>
			<button id='ldt-CtrlSound' onclick='__IriSP.MyApiPlayer.mute()'>Sound</button>
		</div>
		<div class='cleaner'>&nbsp;</div>
		<div id='Ldt-Show-Arrow-container'>
			<div id='Ldt-Show-Arrow'></div>
		</div>
	</div>
	<div>
		<div id='ldt-Show'></div>
		<div id='Ldt-ShowAnnotation-audio' class='demo'>
			<div id='Ldt-SaTitle'></div>
			<div id='Ldt-SaDescription'></div>
			<div class='cleaner'>
				<!--&nbsp\;-->
			</div>
		</div>
		<div id='Ldt-SaKeyword'>
			<div id='Ldt-SaKeywordText'></div>
			<div class='cleaner'></div>
			<div id='Ldt-SaShareTools'>{{{share_template}}}</div>
			<div class='cleaner'></div>
		</div>
		<div id='Ldt-Tags'>Mots clefs :</div>
	</div>
	<div id='Ldt-output' style='clear: left; float: none; position: relative; height: 200px; width: {{width}}px; overflow: scroll;'>
	</div>