{{! template for the tweet widget }}
<div class='Ldt-tweetWidget'>
  <div class='Ldt-tweet-DoubleBorder'>

      <div class='Ldt-tweetWidgetKeepOpen' title='dont minimize automatically'></div>
      <div class='Ldt-tweetWidgetMinimize' title='minimize window'></div>
      <div class='Ldt-tweetAvatar'></div>
      <div class='Ldt-tweetAvatar-profileArrow'></div>
      <div class='Ldt-tweetContents'></div>
      <a href='' target='_blank' class='Ldt-Retweet'><div class='Ldt-RetweetIcon'></div> - Retweet </a>
      <a href='' target='_blank' class='Ldt-TweetReply'><div class='Ldt-TweetReplyIcon'></div> - Reply</a>

  </div>
</div>
