{{! template for the tweet widget }}
<div class='Ldt-tweetWidget'>
  <img src='{{img_dir}}/minimize.png' class='Ldt-tweetWidgetMinimize' alt='minimize window'></img>
  <div class='Ldt-tweetAvatar'></div>
  <img src='{{img_dir}}/profile_arrow.png' class='Ldt-tweetAvatar-profileArrow'></img>
  <div class='Ldt-tweetContents'>
  </div>
  <div class='Ldt-Retweet'><div class='Ldt-RetweetIcon'></div> - Retweet </div>
  <div class='Ldt-TweetReply'><div class='Ldt-TweetReplyIcon'></div> - Reply</div>
</div>
