<div id='LdtSearchContainer'
	style='margin-top: {{heightS}} px; margin-left: 445px; position: absolute;'>
	<div id='LdtSearch'
		style='background-color: #EEE; display: none; width: 165px; boder: 1px; border-color: #CFCFCF; position: absolute; text-align: center; z-index: 999;'>
		<input id='LdtSearchInput'
			style='margin-top: 2px; margin-bottom: 2px;' />
	</div>
</div>
<div id='Ldt-Root'>
	<div id='Ldt-PlaceHolder'>
		<a href='http://www.adobe.com/go/getflashplayer'>Get flash</a> to see
		this player
	</div>

	<div id='Ldt-controler' class='demo'>
		<div class='Ldt-Control1'>
			<button id='ldt-CtrlPlay'>Lecture
				/ Pause</button>
			<button id='ldt-CtrlNext'>Suivant</button>
		</div>
		<div id='Ldt-Annotations' class='ui-slider'>
			<div id='slider-range-min'></div>

		</div>
		<div class='Ldt-Control2'>
			<button id='ldt-CtrlLink'>
				Rechercher</button>
			<button id='ldt-CtrlSound'>Sound</button>
		</div>

		<div class='cleaner'>&nbsp\;</div>

		<div id='Ldt-Show-Arrow-container'>
			<div id='Ldt-Show-Arrow'></div>
		</div>
	</div>
	<div id='Ldt-Ligne'>
		<!-- this div displays the annotations. -->
	</div>
