/* Some general styling classes */

.Ldt-floatClear {
    display: block; width: 100%; height: 0; clear: both;
}

ul.Ldt-floatList {
    padding: 0; margin: 0; list-style: none;
}

.Ldt-floatList li {
    float: left;
}

/* */

#demo-frame > div.demo { padding: 5px !important; };

button.ui-button-icon-only  {
  height:1.5em;
  width:1.5em;
}

#Ldt-loader {
  background:url(imgs/loader.gif) no-repeat;
  width:20px;
  height:16px;
  float:left;
}

/* general class for all buttons */
.Ldt-button {

}

.Ldt-SegmentsWidget {
 /* overflow: auto; /* clear the floats */
  margin-top: 1px;
  padding-bottom: 8px; /* FIXME: only a temporary fix. This should be put into the layout manager. */
}

.Ldt-iri-chapter {
  position: absolute;
  height: 10px;
  border-right: 1px solid white;
}

.Ldt-SegmentPositionMarker {
  position: absolute;
  z-index: 100;
  width: 1px;
  height: 10px;
  background-color: white;
}
.tooltip {
  display:none;
  background:transparent url(imgs/black_arrow_mini.png);
  font-size:12px;
  height:55px;
  width:180px;
  padding:10px;
  padding-left:15px;
  padding-top:15px;
  padding-right:15px;
  color:#000;
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}
#Ldt-Root{
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}
#Ldt-Hat{
  height:3px;
}

.Ldt-AnnotationsWidget {
  font-size: 12px;
  font-family: "Arial",  "Verdana", "sans-serif";
  background-color:#eeeeee;
}

.Ldt-AnnotationContent {
  padding:5px;
  padding-left: 12px;

}

.Ldt-fbShare {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  background:url('imgs/facebook.png');
}

.Ldt-TwShare {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  background:url('imgs/twitter.png');
}

.Ldt-GplusShare {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  background:url('imgs/google.png');
}

.Ldt-SaTitle{
  padding-top:2px;
  padding-bottom:3px;
  font-size: 12pt;
  color : #0068c4;
}

.Ldt-SaDescription{
  font-size:12px;
}

.Ldt-SaKeywords {  
  font-weight:bold;  
  font-size:10px;
}

.Ldt-AnnotationShareIcons {
  float:right;
  position: relative;
}


#Ldt-PlaceHolder{
  position:absolue;
  float:none;
}

.Ldt-Segments{
  float:left;
  font-size: 62.5%;
}

.Ldt-mode-radio{
  visibility:hidden;
  height:0px;
  display:none
}

/* player */
.Ldt-controler {
  font-size: 10px;
  background:url('img-cinecast/controlbarbgd.png') repeat-x transparent ;
  height: 34px;
}

.Ldt-LeftPlayerControls {
  float:left;
}

.Ldt-RightPlayerControls {
  float: right;
}

.Ldt-Ctrl-button {
  float: left;
  width: 30px; height: 25px;
  background: url('img-cinecast/player-sprites.png');
  cursor: pointer;
}

.Ldt-Ctrl-spacer {
    float: left; width: 2px; background: url(img-cinecast/controlbarspacer.png); height: 34px;
}

.Ldt-CtrlPlay {
  margin: 4px 15px;
}

.Ldt-CtrlPlay-PlayState {
  background-position: 0 0;
}

.Ldt-CtrlPlay-PlayState:hover {
  background-position: 0 -25px;
}

.Ldt-CtrlPlay-PlayState:active {
  background-position: 0 -50px;
}

.Ldt-CtrlPlay-PauseState {
  background-position: -30px 0;
}

.Ldt-CtrlPlay-PauseState:hover {
  background-position: -30px -25px;
}

.Ldt-CtrlPlay-PauseState:active {
  background-position: -30px -50px;
}


.Ldt-CtrlAnnotate {
  margin: 4px 2px;
  background-position: -60px 0;
}

.Ldt-CtrlAnnotate:hover {
  background-position: -60px -25px;
}

.Ldt-CtrlAnnotate:active {
  background-position: -60px -50px;
}

.Ldt-CtrlSearch {
  margin: 4px 2px;
  background-position: -90px 0;
}

.Ldt-CtrlSearch:hover {
  background-position: -90px -25px;
}

.Ldt-CtrlSearch:active {
  background-position: -90px -50px;
}

.LdtSearch {
  display: none;
  width: 165px;
  height: 25px;
  border: 1px;
  border-color: #CFCFCF;
  float: left;
  text-align: center;
}

.Ldt-Time {
  float: left;
  margin: 8px 5px;
  font-size: 12px;
  font-family: Arial, Verdana, sans-serif;
}

.Ldt-ElapsedTime {
  float: left;
}

.Ldt-TimeSeparator {
  margin: 0 4px;      
  float: left;
}

.Ldt-TotalTime {
  float: left;
}

.Ldt-CtrlSound {
  margin: 4px 2px;
}

.Ldt-CtrlSound-SoundState {
  background-position: -120px 0;
}

.Ldt-CtrlSound-SoundState:hover {
  background-position: -120px -25px;
}

.Ldt-CtrlSound-SoundState:active {
  background-position: -120px -50px;
}

.Ldt-CtrlSound-MuteState {
  background-position: -150px 0;
}

.Ldt-CtrlSound-MuteState:hover {
  background-position: -150px -25px;
}

.Ldt-CtrlSound-MuteState:active {
  background-position: -150px -50px;
}
    
.Ldt-cleaner {
  clear:both;
}

/* Arrow Widget */
.Ldt-arrowWidget {
  position: relative;

  height:16px;
  width:27px;
  margin-bottom: -3px;
  z-index: 4;
  left: 0%;
}

.Ldt-arrowLeftEdge {
  background:url('imgs/left_edge_arrow.png') no-repeat scroll 0 0 transparent ;
}

.Ldt-arrowCenter {
  background:url('imgs/arrow.png') no-repeat scroll 0 0 transparent ;
}

.Ldt-arrowRightEdge {
  background:url('imgs/right_edge_arrow.png') no-repeat scroll 0 0 transparent ;
}

.cleaner {
  clear:both;
}

.share {
  background:url('imgs/widget20.png') no-repeat scroll 0 0 transparent ;
  display:block;
  height:16px;
  line-height:16px !important;
  overflow:hidden;
  width:16px;
  float:left;
  cursor:pointer;
  margin:2px;
}
.shareFacebook{
  background-position:0 -704px;
}
.shareMySpace{
  background-position:0 -736px;
}
.shareTwitter{
  background-position:0 -1072px;
}
.shareGoogle{
  background-position:0 -752px;
}
.shareDelicious{
  background-position:0 -672px;
}
.shareJamesPot{
  background-position:0 -1808px;
}

.tip{
  position: absolute;
  padding : 3px;
  z-index: 10000000000;
  max-width: 200px;
  background: transparent url("imgs/black_arrow_long.png");
  font-size: 12px;
  height: 115px;
  width: 180px;
  padding: 15px 15px 20px;
  color: #ffffff;
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  overflow:hidden;
}

.tipcolor {
    float: left; margin: 2px 4px 2px 0;
}

.tip img {
    max-width: 140px; max-height: 70px; margin: 0 20px;
}

/* slider */
.Ldt-SliderMinimized {
  height: 6px;
}

.Ldt-SliderMaximized {
  height: 11px;
}

.Ldt-sliderElementMinimized {
  width: 100%;
  height: 5px;
}

.Ldt-sliderElementMaximized {
  width: 100%;
  height: 10px;
}

.Ldt-sliderBackground  {
  background-color: #333333;
  position: absolute;
  z-index: 2;
  bottom: 1px;
  width: 100%;
  height: 5px;

}

.Ldt-sliderForeground  {
  background-color: #747474;
  z-index: 2;
  width: 0px;
  position: absolute;
  bottom: 1px;
  height: 5px;
}

.Ldt-sliderPositionMarker {
  position: absolute;
  z-index: 100;
  background: url('img-cinecast/sliderpos.png');
  height: 10px !important;
  width: 10px !important;
  bottom: 0;
  cursor: pointer;
}

/* sparkline widget */
.Ldt-sparklineWidget {
  position: relative;
  margin-bottom: 5px;
}

.Ldt-sparkLinePositionMarker {
  position: absolute;
  top: 0px;
  width: 0px;
  background-color: #333333;
  border-right: solid 1px pink;
  z-index: 3;
  opacity: 0.2;
}

.Ldt-sparkLine {
  position: absolute;
  top: 0px;
}

.Ldt-sparkLineClickOverlay {
  position: absolute;
  width: 640px;
  height: 60px;
  z-index: 4;
  top: 0px;
  opacity: 0.3;
}

/* CINECAST Annotation Widget block */

.Ldt-createAnnotationWidget {
    width: 610px; padding-bottom: 10px; clear: both;
    background: url(img-cinecast/createannbgd.png) no-repeat bottom right;
}

.Ldt-createAnnotation-DoubleBorder {
    width: 590px; position: relative; clear: both;
    background: url(img-cinecast/createannbgd.png) no-repeat top left;
    padding: 20px 10px 0;
  min-height: 150px;
}
/* */

.Ldt-createAnnotation-Title {
  font-size: 12pt;
  color : #0068c4;  
  float: left;
  margin-right: 5px;
}

.Ldt-createAnnotation-TimeFrame {
  font-size: 12pt;
  color : #ff5589;  
  float: left;
}
.Ldt-createAnnotation-Container {
  float: left; width: 100%; clear: both;
}

.Ldt-createAnnotation-userAvatar { 
  float: right; 
  width: 80px;
  height: 64px;
  border: 1px #ffffff;
  margin: 5px 0;
}

.Ldt-createAnnotation-userAvatar img { 
  margin: 0 auto; 
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.Ldt-createAnnotationWidget .Ldt-floatClear {
    height: 30px; background: url(img-cinecast/logo.iri.small.png) left no-repeat;
}

/* CINECAST HIDE ARROW */

.Ldt-createAnnotation-profileArrow {
  display: none;
}

/* CINECAST SPECIFIC TEXTAREA */

.Ldt-createAnnotation-Description {
  float: left; background: url(img-cinecast/textarea.png); border: none; margin: 0; padding: 4px 8px 4px 4px; width: 493px; height: 68px;
  resize: none;
}
/* */

.Ldt-createAnnotation-btnblock {
   float: left; width: 480px; margin: 5px 0;
}

.Ldt-createAnnotation-btnblock label {
    float: left; margin-top: 8px; width: 120px; font-size: 12px; height: 20px;
}

/* CINECAST SPECIFIC TAG BUTTONS */

.Ldt-createAnnotation-keywords li {
    border: none; margin: 5px 10px 0 0; height: 23px; padding: 0 0 0 15px;
    background: url(img-cinecast/tag.png) left top no-repeat;
    cursor: pointer;
}

.Ldt-createAnnotation-keyword-button {
  font-size: 13px; color: #ffffff; width: 95px;
  height: 23px; padding: 0 5px 0 0; border: none; margin: 0;
  background: url(img-cinecast/tag.png) right top no-repeat;
  cursor: pointer;
}

.Ldt-createAnnotation-keywords li:hover {
  background-position: left -23px;
}

.Ldt-createAnnotation-keywords li:hover .Ldt-createAnnotation-keyword-button {
  background-position: right -23px;
}

.Ldt-createAnnotation-keywords li.Ldt-createAnnotation-active-button {
  background-position: left -46px; margin: 5px 0 0 0;
}

.Ldt-createAnnotation-keywords li.Ldt-createAnnotation-active-button .Ldt-createAnnotation-keyword-button {
  background-position: right -46px; padding: 0 15px 0 0; width: 105px;
}
/* */

/* CINECAST SUBMIT BUTTON */

.Ldt-createAnnotation-submitButton {
  float: right;
  width: 96px;
  height: 34px;
  background: url(img-cinecast/greenbutton.png);
  border: none;
  margin: 8px 0;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}

.Ldt-createAnnotation-submitButton:hover {
    background-position: 0 -34px;
}

/* */

.Ldt-createAnnotation-endScreen {
  background-color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #d6d6d6;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  color : #f7268e;
  text-align: center;
}

.Ldt-createAnnotation-errorMessage {
  color: #D93C71;
}

.Ldt-createAnnotation-Minimize {
  position: relative;
  float: right;
  height: 17px;
  width: 17px;
  right: 0px;
  background:url('imgs/minimize.png');
}

/* */

.Ldt-createAnnotation-spinner {
	display: inline;
	width: 16px;
	height: 16px;
	background-image('imgs/spinner.gif');
}

.Ldt-createAnnotation-endScreen-TweetLink {
	width: 54px;
	height: 20px;
	background-image('imgs/tweet_button.png');
}

.Ldt-createAnnotation-endScreen-FbLink {
	width: 55px;
	height: 20px;
	background-image('imgs/facebook_button.png');
}

.Ldt-createAnnotation-endScreen-GplusLink {
	width: 50px;
	height: 20px;
	background-image('imgs/gplus_button.png');
}
/* AnnotationsListWidget */

.Ldt-AnnotationsListWidget {
  font-size: 12px;
  font-family: "Arial",  "Verdana", "sans-serif";
}

.Ldt-AnnotationsList-ul {
  list-style: none;
  padding: 0 3px;
}

.Ldt-AnnotationsList-li {
  cursor: pointer;
  float: left; width: 100%; clear: both;
  margin: 2px 0; padding: 2px 0;
  position: relative;
  min-height: 70px;
  background: #000000;
}

.Ldt-AnnotationsList-li:hover {
  background-color: #333333;
}

.Ldt-AnnotationsListWidget a {
  text-decoration: none;
}

.Ldt-AnnotationsList-Thumbnail {
    border: none;
    float: left;
    max-width: 75px;
    max-height: 48px;
}

.Ldt-AnnotationsList-Duration {  
  color : #ffffff;
  position: absolute; top: 55px; left: 5px; text-align: center;
}

.Ldt-AnnotationsList-TcSeparator, .Ldt-AnnotationsList-End {
    display: none;
}

.Ldt-AnnotationsList-Title {
  font-size: 13px;
  margin: 0 0 2px 80px;
}

.Ldt-AnnotationsList-Title a {
  color: #ffffff;
}
.Ldt-AnnotationsList-Description {
    color: #dddddd;
  font-style: italic;
  margin: 0 0 2px 80px;
}

.Ldt-AnnotationsList-Tags {
    float: left; clear: both; padding: 0; margin: 2px 0 0 80px; list-style: none;
}

.Ldt-AnnotationsList-Tag-Li {
    float: left; border: none; margin: 0 0 0 5px; height: 23px; padding: 0 0 0 20px;
    background: url(img-cinecast/tag.png) left top no-repeat;
    cursor: pointer;
}

.Ldt-AnnotationsList-Tag-Div {
  font-size: 14px; color: #ffffff;
  height: 20px; padding: 3px 5px 0 0; border: none; margin: 0;
  background: url(img-cinecast/tag.png) right top no-repeat;
    cursor: pointer;
}

.Ldt-AnnotationsList-Tag-Li:hover {
  background-position: left -23px;
}

.Ldt-AnnotationsList-Tag-Li:hover .Ldt-AnnotationsList-Tag-Div {
  background-position: right -23px;
}

/* Tagcloud */

.Ldt-TagCloud {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.Ldt-TagCloud ul {
    list-style: none; padding: 0; margin: 5px; text-align: center;
}

.Ldt-TagCloud li {
    display: inline-block; margin: 2px; cursor:pointer; cursor:hand;
}

.Ldt-TagCloud li:hover {
    color: #0099ff;
}

.Ldt-TagCloud-actif {
    color: #c000c0;
}
