.Ldt-Annotation-Widget {
    border-style: none solid solid;
    border-width: 1px;
    border-color: #b7b7b7;
    padding: 0 1px 1px;
    margin: 0;
}

.Ldt-Annotation-Widget.Ldt-Annotation-ShowTop {
    border-top-style: solid;
    padding-top: 1px;
}

.Ldt-Annotation-Inner {
    background: url(img/pinstripe.png);
    padding: 5px;
    margin: 0;
}

.Ldt-Annotation-Inner h3 {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
}

.Ldt-Annotation-Inner h3.Ldt-Annotation-MashupOrigin {
    font-size: 12px;
}

.Ldt-Annotation-Title, .Ldt-Annotation-MashupMedia {
    color: #0068c4;
}

.Ldt-Annotation-Time {
    color: #ff3b77
}

.Ldt-Annotation-Inner p {
    margin: 5px 0; font-size: 12px;
}

.Ldt-Annotation-ShareIcons {
    float: right;
}

.Ldt-Annotation-Share {
    display: inline-block; width: 24px; height: 24px; margin: 2px 0 0 2px; background: url(img/socialbuttons.png);
}

.Ldt-Annotation-Twitter {
    background-position: 0 0;
}

.Ldt-Annotation-Twitter:hover {
    background-position: 0 -24px;
}

.Ldt-Annotation-Fb {
    background-position: -24px 0;
}

.Ldt-Annotation-Fb:hover {
    background-position: -24px -24px;
}

.Ldt-Annotation-Gplus {
    background-position: -48px 0;
}

.Ldt-Annotation-Gplus:hover {
    background-position: -48px -24px;
}

.Ldt-Annotation-Tags-Block {
    font-size: 12px;
}

.Ldt-Annotation-NoTags {
    display: none;
}

span.Ldt-Annotation-TagTitle {
    display: inline-block; margin: 5px 2px 0 0; font-size: 12px;
}

ul.Ldt-Annotation-Tags {
    display: inline-block; list-style: none; padding: 0; margin: 5px 0;
}

li.Ldt-Annotation-TagLabel {
    display: inline-block; border: none; margin: 0 10px 5px 0; height: 23px; padding: 0 0 0 20px;
    background: url(img/tag.png) left top no-repeat; font-weight: bold;
}

.Ldt-Annotation-TagLabel span {
    display: inline-block; font-size: 12px; height: 19px; padding: 4px 5px 0 0; border: none; margin: 0;
    background: url(img/tag.png) right top no-repeat;
}

.Ldt-Annotation-MashupOrigin {
    display: none;
}

.Ldt-Annotation-isMashup .Ldt-Annotation-MashupOrigin {
    display: block;
}

.Ldt-Annotation-Empty .Ldt-Annotation-HiddenWhenEmpty {
    display: none;
}

.Ldt-Annotation-Minimized .Ldt-Annotation-HiddenWhenMinimized {
    display: none;
}

