/* AnnotationsListWidget */

#ui-datepicker-div
{
    display: none;
}

.Ldt-AnnotationsListWidget {
    border: none; 
    margin: 0; 
    padding: 0;
    overflow: auto;
}
.Ldt-AnnotationsListWidget a {
    text-decoration: none;
}

.Ldt-AnnotationsList-Audio {
    width: 1px; height: 1px;
}

.Ldt-AnnotationsList-Filters {
	display: table-cell;
	width: 100%;
	height: 30px;
	vertical-align: middle;
    text-align: center;
	
}

.Ldt-AnnotationsList-filter-text {
    text-align: left;
	display: inline;
	margin: 4px 2px;
}

.Ldt-AnnotationsList-filter-dropdown {
    text-align: center;
	display: inline;
	margin: 4px 2px;
}

.Ldt-AnnotationsList-filter-checkbox {
    text-align: center;
	display: inline;
	margin: 4px 2px;
}

ul.Ldt-AnnotationsList-ul, ul.Ldt-AnnotationsList-ul-toDelete  {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li.Ldt-AnnotationsList-li {
    width: 100%;
    clear: both;
    margin: 2px 0;
    padding: 2px 0;
    min-height: 3em;
    position: relative;
}
.Ldt-AnnotationsList-li.selected {
    background-image: url(img/pinstripe-grey.png);
    z-index: 1;
}
.Ldt-AnnotationsList-ThumbContainer {
    float: left;
    width: 80px;
    height: 50px;
    text-align: center;
    margin: 0px 2px 10px 2px;
    box-shadow: #808080 0px 0px 2px;
}
.Ldt-AnnotationsList-Thumbnail {
    border: none;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.Ldt-AnnotationsList-External-Icon {
	background-image: url(img/external.png);
	z-index: 100;
	height: 15px;
	width: 15px;
	position: relative;
	bottom: 20px;
	left: 64px;
}

.Ldt-AnnotationsList-DeleteButton {
	margin: 0px;
	float: right;
	font-size: 20px;
	position: relative;
	top: -50px;
	left: -5px;
	color: #787878
}
.Ldt-AnnotationsList-DeleteButton:hover {
	color: #f7268e;
	cursor: pointer;
}

.Ldt-AnnotationsList-Duration {
    color: #f7268e;
    float: right;
    text-align: right;
    font-size: 12px;
    margin: 2px;
}
.Ldt-AnnotationsList-CreationDate {
    color: #f7268e;
    text-align: left;
    font-size: 12px;
    margin: 2px 2px 2px 89px;
}
h3.Ldt-AnnotationsList-Title span.Ldt-AnnotationsList-TitleContent{
    color: #0068c4;
    font-size: 13px;
    margin-left: 5px;
    font-weight: bold;
}

h3.Ldt-AnnotationsList-Title.Ldt-Annotation-Timecode{	
    font-size: 13px;
}

.Ldt-AnnotationsList-Title a {
    color: #0068c4;
}

.Ldt-AnnotationsList-Creator {
    color: #4d90f4;
    margin-left: 5px;
    font-size: 13px;
}

p.Ldt-AnnotationsList-Description {
    margin: 2px 0 2px 89px;
    font-size: 12px;
    color: #333333;
}

.Ldt-AnnotationsList-Description a {
    color: #0068c4;
}

.Ldt-AnnotationsList-Description a:hover {
    text-decoration: underline; color: #800000;
}

ul.Ldt-AnnotationsList-Tags {
    list-style: none;
    padding: 0;
    margin: 2px 0 0 82px;
}

li.Ldt-AnnotationsList-Tag-Li {
    display: inline-block; border: none; margin: 0 10px 5px 0; height: 23px; padding: 0 0 0 20px;
    background: url(img/tag.png) left top no-repeat;
    cursor: pointer;
}

.Ldt-AnnotationsList-Tag-Li span {
    display: inline-block; font-size: 12px; height: 19px; padding: 4px 5px 0 0; border: none; margin: 0;
    background: url(img/tag.png) right top no-repeat;
}

li.Ldt-AnnotationsList-Tag-Li:hover {
    background-position: left -23px;
}

.Ldt-AnnotationsList-Tag-Li:hover span {
    background-position: right -23px;
}

.Ldt-AnnotationsList-Play {
    width: 125px; height: 20px; margin: 2px 0 2px 82px; text-align: center;
    padding: 3px 5px 0 20px; font-size: 12px; cursor: pointer;
    background: url(img/voiceannotation.png); color: #333333;
}

.Ldt-AnnotationsList-Play:hover {
    background-position: 0 bottom;
}

.Ldt-AnnotationsList-EditControls {
    opacity: 0;
    position: absolute;
    bottom: 2px;
    right: 8px;
}

.Ldt-AnnotationsList-li:hover .Ldt-AnnotationsList-EditControls {
    display: inline-block;
    opacity: .8;
    transition: opacity 1000ms ease-in-out;
}

.Ldt-AnnotationsList-EditControls > div {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 8px;
}

.Ldt-AnnotationsList-Delete {
    background: url(img/delete.png);
}

.Ldt-AnnotationsList-Edit {
    background: url(img/edit.png);
}

.Ldt-AnnotationsList-PublishAnnotation {
    background: url(img/publish_annotation.png);
}

.published .Ldt-AnnotationsList-PublishAnnotation {
    background: url(img/published_annotation.png);
}

.editing {
    display: none;
}

.editableInput {
    width: 80%;

.Ldt-AnnotationsList-ScreenMain{
	margin: 0px;
	padding: 0px;
}

.Ldt-AnnotationsList-ScreenDelete, .Ldt-AnnotationsList-ScreenSending, 
.Ldt-AnnotationsList-ScreenError, .Ldt-AnnotationsList-ScreenSuccess{
	margin-top: 15px;
	width: 100%
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	color: #68273C;
}

a.Ldt-AnnotationsList-Close {
    position: absolute; right: 2px;
    display: inline-block; width: 17px; height: 17px; margin: 4px;
    background: url(img/widget-control.png);
}