.Ldt-CurrentSegmentInfobox{
	background: url(img/pinstripe.png);
	width: 535px;
	max-height: 280px;
	margin: 0px;
	margin-top: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #b7b7b7;
}

.Ldt-CurrentSegmentInfobox-Element{
	margin: 5px;
	vertical-align: top;
}

.Ldt-CurrentSegmentInfobox-Tags-Ul{
	list-style: none;
	margin: 0px;
}

.Ldt-CurrentSegmentInfobox-Tags{
	margin: 0px;
}

.Ldt-CurrentSegmentInfobox-Tags-Li{
	display: inline-block;
	background-color: #ffffff;
	margin: 2px;
	padding: 2px;
	border: solid 1px;
	border-color: #aeaeae;
}

.Ldt-CurrentSegmentInfobox-Title{
	color: #0068c4;
    font-size: 15px;
    font-weight: bold;
}

.Ldt-CurrentSegmentInfobox-Description{
	font-size: 13px;
	font-weight: bold;
}

textarea.Ldt-CurrentSegmentInfobox-DescriptionInput.Ldt-CurrentSegmentInfobox-Description{
	display: inline-block;
	width: 95%;
}

.Ldt-CurrentSegmentInfobox-Tags{
}

.Ldt-CurrentSegmentInfobox-NoSegment{
	font-size: 15px;
	font-weight: bold;
}

.Ldt-CurrentSegmentInfobox-SubmitButton{
	display: inline-block;
    background-color: #d93c71;
    color: #ffffff;
    cursor: pointer;
    height: 14px;
    width: 100px;
    margin: 2px;
    margin-top: 5px;
    padding: 2px;
    font-size: 11px;
    border: 1px solid;
    border-color: #eca3bc #631e34 #36101c #e16e93;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.Ldt-CurrentSegmentInfobox-CancelButton{
	display: inline-block;
    background-color: #d93c71;
    color: #ffffff;
    cursor: pointer;
    height: 14px;
    width: 100px;
    margin: 2px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 2px;
    font-size: 11px;
    border: 1px solid;
    border-color: #eca3bc #631e34 #36101c #e16e93;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.Ldt-CurrentSegmentInfobox-CreateTagButton{
	display: block;
    background-color: #d93c71;
    color: #ffffff;
    cursor: pointer;
    height: 14px;
    width: 75px;
    margin: 2px;
    padding: 2px;
    font-size: 11px;
    border: 1px solid;
    border-color: #eca3bc #631e34 #36101c #e16e93;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.Ldt-CurrentSegmentInfobox-Tags-Li-Input{
	width: 80px;
}

.Ldt-CurrentSegmentInfobox-EditButton{
	float: right;
	display: inline-block;
    background-color: #d93c71;
    color: #ffffff;
    cursor: pointer;
    height: 18px;
    width: 95px;
    font-size: 14px;
    border: 1px solid;
    border-color: #eca3bc #631e34 #36101c #e16e93;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 4px;
    text-align: center;
	vertical-align: middle;
	line-height: 18px;
}

.Ldt-CurrentSegmentInfobox-EditButton:hover, .Ldt-CurrentSegmentInfobox-CreateTagInput-Add:hover{
	background-color: #e15581;
	border-color: #222222 #e87d9f #f0adc3 #68273c;
}

.Ldt-CurrentSegmentInfobox-CreateTagButton:hover, .Ldt-CurrentSegmentInfobox-CancelButton:hover,
.Ldt-CurrentSegmentInfobox-SubmitButton:hover{
	background-color: #e15581;
	border-color: #222222 #e87d9f #f0adc3 #68273c;
}

.Ldt-CurrentSegmentInfobox-Tags-Li-DeleteTagButton{
	font-weight: bold;
	color: #d93c71
}

.Ldt-CurrentSegmentInfobox-Tags-Li-DeleteTagButton:hover{
	color: #e16e93
}

.Ldt-CurrentSegmentInfobox-FieldsHeader{
	margin: 5px;
}

.Ldt-CurrentSegmentInfobox-TagsHeader{
	margin-top: 10px;
	margin-left: 5px;
}

.Ldt-CurrentSegmentInfobox-CreateTagInput{
    border: 2px solid #848484;
    margin: 5px 2px;
    padding: 4px;
}

.Ldt-CurrentSegmentInfobox-CreateTagInput-Add{
    margin: 5px;
    padding: 4px;
	display: inline-block;
    background-color: #d93c71;
    color: #ffffff;
    cursor: pointer;
    height: 14px;
    width: 14px;
    font-size: 14px;
    font-style: bold;
    border: 1px solid;
    border-color: #eca3bc #631e34 #36101c #e16e93;
    cursor: pointer;
    padding: 4px;
    text-align: center;
	vertical-align: middle;
	line-height: 14px;
}