/* Nothing */
.Ldt-ImageDisplay-Container {
    margin: auto;
}

.Ldt-ImageDisplay-Image {
    max-width: 100%;
    max-height: 100%;
}

.Ldt-ImageDisplay-Overlay {
    width: 20%;
    min-width: 20px;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.Ldt-ImageDisplay-Overlay:hover {
}

.Ldt-ImageDisplay-Overlay-Left {
    left: 0px;
    cursor: w-resize;
}

.Ldt-ImageDisplay-Overlay-Right {
    right: 0px;
    cursor: e-resize;
}
