.Ldt-LatestAnnotation{
	background: url(img/pinstripe.png);
	width: 535px;
	max-height: 180px;
	margin: 0px;
	margin-top: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #b7b7b7;
}

.Ldt-LatestAnnotation-Element{
	margin: 5px;
	display: inline-block;
	vertical-align: top;
}

.Ldt-LatestAnnotation-Box{
	background-color: #ffffff;
	margin: 3px;
}

.Ldt-LatestAnnotation-CreationDate{
	color: #f7268e;
}

.Ldt-LatestAnnotation-Content{
	text-align: justify;
}

.Ldt-LatestAnnotation-Title{
	color: #0068c4;
    font-size: 14px;
    font-weight: bold;
}

.Ldt-LatestAnnotation-NoAnnotation{
	font-size: 14px;
    font-weight: bold;
}

.Ldt-LatestAnnotation-CopyEditButton{
	display: inline-block;
    background-color: #d93c71;
    color: #ffffff;
    float: right;
    cursor: pointer;
    height: 14px;
    width: 100px;
    margin: 2px;
    padding: 2px;
    font-size: 11px;
    border: 1px solid;
    border-color: #eca3bc #631e34 #36101c #e16e93;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.Ldt-LatestAnnotation-CopyEditButton:hover{
	background-color: #e15581;
	border-color: #222222 #e87d9f #f0adc3 #68273c;
}