/* Nothing */

.Ldt-Quiz-Container {
  	position: absolute;
  	height: calc(100% - 4px);
  	top: 0px;
  	width: calc(100% - 20px);
	margin: auto;
	border: 1px solid black;
	font-size: 18pt;
}

.Ldt-Quiz-Title {
    line-height: 1;
    padding-top: 10px;
    text-align: center;
}

.Ldt-Quiz-Header {
	font-size: 12px;
	color: black;
	border-bottom: 1px solid green;
	padding: 2px;
    height: 22px;
}

.Ldt-Quiz-Content {
    height: calc(100% - 82px);
    overflow-y: auto;
}

.Ldt-Quiz-Footer {
    height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	border-top: 2px solid black;
	background-color: white;
}


.Ldt-Quiz-Score {
	display: inline-block;
	position: absolute;
	right: 20px;
}

.Ldt-Quiz-Index {
	display: inline-block;
}

.Ldt-Quiz-Image {
    max-width: 100%;
    max-height: 100%;
}

.Ldt-Quiz-Questions {
    height: calc(100% - 2.5em);
    margin: 10px;
    padding: 10px;
    border-left: 5px solid gray;
}

.quiz-question-block {
    padding-top: 10px;
}
.quiz-resource-block {
    padding-top: 10px;
    float: right;
    max-height: 100%;
    height: 100%;
}
.quiz-resource-block img {
    max-height: 100%;
    max-width: 100%;
}

.quiz-question-feedback {
	font-size: 15px;
}

.quiz-question-feedback div {
    display: inline-block;
	height: 100%;
}

.quiz-question-correct-feedback:before, .quiz-question-incorrect-feedback:before {
		                                    content: '';
		                                    vertical-align: middle;
		                                    display: inline-block;
		                                    width: 48px;
		                                    height: 48px;
                                        }

.quiz-question-correct-feedback:before {
	background: url(img/valid_sprites.png) left top no-repeat;
}

.quiz-question-incorrect-feedback:before {
	background: url(img/valid_sprites.png) -49px top no-repeat;
}

.Ldt-Quiz-Correct-Answer:before {
	background: url(img/min_valid_sprites.png) left top no-repeat;
}

.Ldt-Quiz-Incorrect-Answer:before {
	background: url(img/min_valid_sprites.png) -13px top no-repeat;
}

.Ldt-Quiz-Correct-Answer:before, .Ldt-Quiz-Incorrect-Answer:before {
		                              content: '';
		                              vertical-align: middle;
		                              display: inline-block;
		                              width: 12px;
		                              height: 12px;
                                  }

.Ldt-Quiz-Submit {
    margin: 10px;
}

.Ldt-Quiz-Submit .Ldt-Quiz-Submit-Skip-Link {
    float: left;
}

.Ldt-Quiz-Submit-Skip-Link a {
    text-decoration: none;
    font-size: 16pt;
}

.Ldt-Quiz-Submit .Ldt-Quiz-Submit-Button {
    float: right;
}

.Ldt-Quiz-Votes {
    display: none;
    height: 53px;
    position: relative;
}

.Ldt-Quiz-Votes-Question {
    font-size: 16px;
    position: absolute;
    top: 2px;
    left: 0px;
}

.Ldt-Quiz-Votes-Buttons {
    position: absolute;
    bottom: 2px;
    left: 0px;
    right: 0px;
}

.Ldt-Quiz-Votes-Buttons div {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.Ldt-Quiz-Vote-Skip-Block {
    width: 30% !important;
    text-align: right;
}

.Ldt-Quiz-Vote-Skip-Block a {
    text-decoration: none;
}

.Ldt-Quiz-Overlay {
    position: absolute;
    top: 0px;
    background-color: white;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.Ldt-Pause-Add-Question {
    background: url(img/quiz_add_question.svg) no-repeat;
    background-position: center;
    background-size: contain;
  	position: absolute;
    bottom: 40px;
    right: 0px;
    height: 15%;
    width: 15%;
    max-width: 64px;
    max-height: 64px;
    z-index: 10;
}

.Ldt-Quiz-Result {
    position: absolute;
	height: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

input[type="button"] {
    border: none;
    font-size: 18pt;
    text-align: center;
    background-color: #5BCE5B;
    color: #fff;
    cursor: pointer;
}

input[value="Non"] {
    background-color: #F86060;
}

input.quiz-question:checked + .quiz-question-label {
    text-decoration: underline;
}
