/* Slider Widget */

.Ldt-Slice {
    border-radius: 0; border: none; padding: 0; margin: 12px 0 12px; background: #B6B8B8; height: 8px;
}

.Ldt-Slice .ui-slider-handle {
    width: 7px; height: 20px; top: 0; border: none; margin: 0; padding: 0;
    background: url(img/slice-handles.png); border-radius: 0; cursor: pointer;
}

.ui-slider-handle.Ldt-Slice-left-handle {
    margin-left: -7px;
}

.ui-slider-handle.Ldt-Slice-right-handle {
    margin-left: 0; background-position: -7px 0;
}

.Ldt-Slice .ui-slider-range {
    background: url(img/pinstripe-purple.png);
}

