/*
 * 
 */
.Ldt-Tagcloud-Container {
    border: 1px solid #b7b7b7;
    padding: 1px;
    margin: 0;
}

ul.Ldt-Tagcloud-List {
    background: url(img/pinstripe.png);
    padding: 5px;
    margin: 0;
    list-style: none;
    text-align: center;
}

li.Ldt-Tagcloud-item {
    display: inline-block;
    margin: 2px;
    cursor: pointer;
}

li.Ldt-Tagcloud-item:hover {
    color: #0099ff;
}

.Ldt-Tagcloud-active {
    color: #c000c0;
    padding: 0; margin: 0;
}