
.Ldt-Tagger {
    border-style: solid;
    border-width: 1px;
    border-color: #b7b7b7;
    padding: 1px;
    margin: 0;
}

.Ldt-Tagger-Inner {
    background: url(img/pinstripe.png);
    padding: 5px;
    margin: 0;
}
